
<div class="bd-example">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12">

                    <div class="card-body">
                        <div class="header-top">
                            <div class="mb-1">
                                Log in
                                <img class="img ms-3" src="https://c.animaapp.com/SqS4oaEV/img/image-24@2x.png" />
                                <img class="image ms-3" src="https://c.animaapp.com/SqS4oaEV/img/image-25@2x.png" />
                            </div>
                            <img class="navbar" src="https://c.animaapp.com/SqS4oaEV/img/navbar.png" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-sm-12">
                <div class=" mt-5">
                    <div class="row">
                        <div class="col-md-7 mx-auto">
                            <div class="sub-container">
                                <p class="paragraph">
                                    Medical images diagnosis with Deep Learning, Transfer learning and Knowledge Graphs
                                </p>
                            </div >
                            <div class="div-content mt-5">
                                <div class="paragraph-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                          Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.
                                           At risus viverra adipiscing at in. Pellentesque adipiscing commodo elit at
                                            imperdiet dui accumsan. Dolor morbi non arcu risus quis varius quam quisque id.
                                             Vulputate dignissim suspendisse in est ante in nibh mauris.
                                              Dignissim convallis aenean et tortor at risus. Tristique sollicitudin nibh sit
                                               amet commodo. Feugiat in fermentum posuere urna. Urna porttitor rhoncus dolor
                                               purus non enim. Leo integer malesuada nunc vel risus commodo. Dictumst quisque
                                               sagittis purus sit amet volutpat consequat mauris. Interdum varius sit amet
                                               mattis vulputate enim. Orci a scelerisque purus sem.</p>
                                </div>
                                <div class="img-conten">
                                    <img src="{{ file_url('themes/custom/custom_theme/images/detail/image.png') }}" alt="hinh anh minh hoa">
                                </div>
                                <div class="paragraph-content mt-3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                          Pellentesque elit ullamcorper dignissim cras tincidunt lobortis
                                          feugiat. At risus viverra adipiscing at in. Pellentesque
                                          adipiscing commodo elit at imperdiet dui accumsan. Dolor morbi non
                                           arcu risus quis varius quam quisque id. Vulputate dignissim
                                            suspendisse in est ante in nibh mauris. Dignissim convallis
                                            aenean et tortor at risus. Tristique sollicitudin nibh sit
                                            amet commodo. Feugiat in fermentum posuere urna. Urna porttitor
                                            rhoncus dolor purus non enim. Leo integer malesuada nunc vel
                                             risus commodo. Dictumst quisque sagittis purus sit amet
                                             volutpat consequat mauris. Interdum varius sit amet mattis
                                             vulputate enim. Orci a scelerisque purus sem.
                                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                             do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                              Pellentesque elit ullamcorper dignissim cras tincidunt
                                              lobortis feugiat. At risus viverra adipiscing at in.
                                               Pellentesque adipiscing commodo elit at imperdiet dui
                                               accumsan. Dolor morbi non arcu risus quis varius quam quisque
                                                id. Vulputate dignissim suspendisse in est ante in nibh
                                                 mauris. Dignissim convallis aenean et tortor at risus.
                                                  Tristique sollicitudin nibh sit amet commodo. Feugiat in
                                                  fermentum posuere urna. Urna porttitor rhoncus dolor purus
                                                   non enim. Leo integer malesuada nunc vel risus commodo.
                                         Dictumst quisque sagittis purus sit amet volutpat consequat mauris.
                                          Interdum varius sit amet mattis vulputate enim. Orci a scelerisque
                                           purus sem Lorem ipsum dolor sit amet, consectetur adipiscing
                                           elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                           aliqua. Pellentesque elit ullamcorper dignissim cras tincidunt
                                           lobortis feugiat. At risus viverra adipiscing at in. Pellentesque
                                            adipiscing commodo elit at imperdiet dui accumsan. Dolor morbi
                                             non arcu risus quis varius quam quisque id. Vulputate dignissim
                                              suspendisse in est ante in nibh mauris. Dignissim convallis
                                              aenean et tortor at risus. Tristique sollicitudin nibh sit
                                              amet commodo. Feugiat in fermentum posuere urna. Urna
                                               porttitor rhoncus dolor purus non enim. Leo integer malesuada
                                                nunc vel risus commodo. Dictumst quisque sagittis purus sit
                                                 amet volutpat consequat mauris. Interdum varius sit amet
                                                  mattis vulputate enim. Orci a scelerisque purus sem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mx-auto accordion ps-5">
                            <div class="rig-container cover-text">
                                <p class="title-paragraph mt-3">
                                    What you may interested in
                                </p>
                            </div>
                            <div class="mt-5 ">
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rig-container cover-text mt-5 mt-2">
                                <p class="title-paragraph mt-3">
                                    Newest Research
                                </p>
                            </div>
                            <div class="mt-5 ">
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                                <div class="related-photos mb-4">
                                    <div class="img-related">
                                        <img src="{{ file_url('themes/custom/custom_theme/images/detail/1.png') }}" alt="anh lien quan">
                                    </div>
                                    <div class="paragraph-content text-related">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
